{% extends "alunos/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load dict_filters %}

{% block title %}

{% endblock %}

{% block content %}
    <h2>Pedido de Isenção</h2>

     <form action="/isencao/uerj1/post" method="POST" class="post-form">{% csrf_token %}
        <h3 class="">Informações Pessoais</h3>
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

{#                <div class="row form-inline">#}
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="form-label" for="id_aluno">Aluno</label>
                        <input id="id_aluno" type="text" class="form-control" value="{{ name }}" disabled>
                    </div>
                    {% for field in form.visible_fields %}
                        <div class="col-md-4">
                        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }} </label>
{#                            {{ field|add_class:'form-control'|attr:'required' }}#}
                            {{ field|add_class:'form-control' }}
                            {% for error in field.errors %}
                              <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div><br><br>
    </form>

{% endblock %}