{% extends "alunos/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load dict_filters %}

{% block title %}

{% endblock %}

{% block content %}


    <h2>Minhas Redações</h2>

<div class="table-responsive">
    <table class="table table-sm table-striped table-bordered table-hover" content="Redações">

    <thead>
        <tr>
            <th class="col-md-3 col-xs-12">Tema</th>
{#            2017/03/15 - Luiz Henrique Davi de Lemos asked to remove this feature.  #}
{#            <th class="col-md-3 col-xs-12">Corretores</th>#}
            <th class="col-md-1 col-xs-6">Entrega</th>
            <th class="col-md-1 col-xs-6">Correção</th>
            <th class="col-md-1 col-xs-6">Devolução</th>
            <th class="col-md-1 col-xs-6">Norma</th>
            <th class="col-md-1 col-xs-6">Tema</th>
            <th class="col-md-1 col-xs-6">Coerência</th>
            <th class="col-md-1 col-xs-6">Coesão</th>
            <th class="col-md-1 col-xs-6">Proposta</th>
            <th class="col-md-1 col-xs-6">Nota</th>
{#            <th class="col-md-1">Total</th>#}
        </tr>
    </thead>

    {% for r in redacoes %}
    <tr>
        <td class="col-md-3 col-xs-12">{{ r.tema }}</td>
{#        <td class="col-md-3 col-xs-12">{% for c in r.get_corretor %} <p>{{ c }}</p>{% endfor %}</td>#}
        <td class="col-md-1 col-xs-6">{{ r.data_de_entrega }}</td>
        <td class="col-md-1 col-xs-6">{{ r.data_de_correcao }}</td>
        <td class="col-md-1 col-xs-6">{{ r.data_de_devolucao }}</td>
        <td class="col-md-1 col-xs-6">{{ r.competencia1 }}</td>
        <td class="col-md-1 col-xs-6">{{ r.competencia2 }}</td>
        <td class="col-md-1 col-xs-6">{{ r.competencia3 }}</td>
        <td class="col-md-1 col-xs-6">{{ r.competencia4 }}</td>
        <td class="col-md-1 col-xs-6">{{ r.competencia5 }}</td>
        <td class="col-md-1 col-xs-6">{{ r.nota }}</td>
        <br>

    {% endfor %}
    </table>
</div>


{% endblock %}