{% extends "politicas_afirmativas/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

    <form action="/isencao/uerj1/post" method="POST" class="post-form">{% csrf_token %}
        <h3 class="">Informações Pessoais</h3>
                {% for hidden in pedido.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

{#                <div class="row form-inline">#}
                <div class="form-group">
                    {% for field in pedido.visible_fields %}
{#                        <div class="col-lg-6">#}
                        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }} </label>
{#                            {{ field|add_class:'form-control'|attr:'required' }}#}
                            {{ field|add_class:'form-control' }}
                            {% for error in field.errors %}
                              <span class="help-block">{{ error }}</span>
                            {% endfor %}
{#                        </div>#}
                    {% endfor %}
                </div><br><br>
    </form>

{% endblock %}
