{% extends "home/base.html" %}
{% load static %}

{% block content %}

    <p>Pré-Universitário Comunitário Rubem Alves</p>

    <p>Centro de Ciências da Saúde (CCS) - UFRJ</p>

    <p>R. Prof. Rodolpho Paulo Rocco, S/N - Subsolo - Bloco C - Sala C-II</p>

    <p>Cidade Universitária - Rio de Janeiro</p>

    <p>Email  contato@purubemalves.com.br</p>

    <p>Facebook /purubemalves</p>

    <p>(21) 97122 3790</p>

    <p>Sábados de 8h às 18h</p>

    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3676.9193539606777!2d-43.23482200000001!3d-22.842473!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x99796cf0e5e919%3A0x60216e31f9c23e1f!2sPr%C3%A9-Universit%C3%A1rio+Comunit%C3%A1rio+Rubem+Alves!5e0!3m2!1spt-BR!2sbr!4v1425318410500" width="800" height="600" frameborder="0"></iframe>



    <p>Como chegar:</p>

    <p>Estação de BRT do Fundão – Terminal Aroldo Melodia</p>
    
    <p>321 – Castelo x Bancários (via Linha Vermelha)</p>
    
    <p>322 – Castelo x Ribeira</p>

    <p>323 – Castelo x Bananal (via Linha Vermelha)</p>

    <p>324 – Castelo x Ribeira</p>

    <p>325 – Castelo x Ribeira (via Linha Vermelha)</p>

    <p>326 – Castelo x Bancários</p>

    <p>327 – Castelo x Ribeira</p>

    <p>328 – Castelo x Bananal</p>

    <p>329 – Castelo x Bancários (via Praia da Rosa)</p>

    <p>386B – Anchieta x Cidade Universitária</p>

    <p>634 – Saens Peña x Freguesia</p>

    <p>696 – Méier x Praia do Dendê</p>

    <p>901 – Bonsucesso x Bananal</p>

    <p>910 – Madureira x Bananal</p>

    <p>911 – Bonsucesso x Cidade Universitária (01 ônibus diário)</p>

    <p>914 – Vigário Geral x Freguesia</p>

    <p>915 – Bonsucesso x Galeão (AIRJ)</p>

    <p>945 – Pavuna x Cidade Universitária</p>

    <p>933 – Bangu x Cidade Universitária</p>

    <p>936 – Campo Grande x Cidade Universitária</p>

    <p>Linhas Circulares:</p>

    <p>Linha Petrópolis x Cidade Universitária (ônibus executivo)</p>

    <p>111C – Central x Duque de Caxias</p>

    <p>113C – Central x Duque de Caxias</p>

    <p>417C – Vilar dos Teles x Cacuia</p>

    <p>485 – Penha x Praça General Osório</p>

    <p>486 – Cidade Universitária x Praça General Osório</p>

    <p>634 – Saens Peña x Freguesia (via Cidade Universitária)</p>

    <p>616 e 913 – Del Castilho x Cidade Universitária (somente dias úteis)</p>

    <p>761D – Charitas x Galeão (AIRJ)</p>

    <p>905 – Bonsucesso x Irajá (via Cidade Universitária)</p>

    <p>932 – Penha x Cidade Universitária</p>

    <p>956A – Invernada de Olaria x Hospital Universitário</p>

    <p>956B – Penha (IAPI) x Hospital Universitário</p>

    <p>S-06 – Cidade de Deus x Cidade Universitária</p>

{% endblock %}
