{% extends "home/base.html" %}
{% load static %}

{% block content %}
        O **Pré-Universitário Comunitário Rubem Alves** é aberto a todo o Rio de
    Janeiro e região. Não há restrição de idade e o curso tem duração de um
    ano. Para ser aluno(a), você deve observar o calendário de inscrições
    lançado no início de cada ano letivo.

    Para ingressar no <span class="caps">PU</span>, é importante que você queira prestar o vestibular
    ou algum concurso público, ou conseguir o certificado de conclusão do
    Ensino Médio através do <span class="caps">ENEM</span>. Recebemos estudantes do ensino médio e
    pessoas que estão há algum tempo sem estudar e querem ingressar em uma
    universidade ou cargo público.

    Caso tenha interesse em estudar conosco, [clique
    aqui](http://www.purubemalves.com.br/p/contato.html) para entrar em
    contato
{% endblock %}
