
/*head {*/

/*}*/

body {
    background-color: #f5f9ff;
}

/*title {*/

/*}*/

/*h1 {*/

/*}*/

/*h2 {*/

/*}*/

/*h3 {*/

/*}*/

/*h4 {*/

/*}*/

/*h5 {*/

/*}*/

/*h6 {*/

/*}*/

/*form {*/

/*}*/

/*select {*/

/*}*/

.checkbox-label {
    font-size: smaller;
}

.form-label {
    padding-top: 5px;
    padding-bottom: 5px;
}

.jumbotron {
    margin-top: 50px;
    margin-bottom: 0px;
}
.main-row {
    /*background-color: #a6e1ec;*/
}
