{% extends "home/base.html" %}
{% load static %}

{% block content %}

    <div class="jumbotron" style="background: url('{% static "home/img/jumbotron_blue.jpg" %}');)">
      <div class="container">
        <h1>Pré-Universitário Comunitário Rubem Alves</h1>
        <p>O <strong>Pré-Universitário Comunitário Rubem Alves</strong> é aberto a todo o Rio de
Janeiro e região. Não há restrição de idade e o curso tem duração de um
ano. Recebemos estudantes do ensino médio e
pessoas que estão há algum tempo sem estudar e querem ingressar em uma
universidade ou cargo público.</p>
        <p><a class="btn btn-primary btn-lg" href="/curso" role="button">Conheça &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Equipe nota dez</h2>
          <p>Nossos voluntários estão dedicados a oferecerem a melhor experiência para você, dentro e fora de sala de aula. </p>
          <p><a class="btn btn-default" href="/equipe" role="button">Veja mais &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Resultados</h2>
          <p>Centenas de alunos aprovados em universidades estaduais e federais ao longo dos nossos treze anos de existência.</p>
          <p><a class="btn btn-default" href="/resultados" role="button">Veja mais &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Entre em contato</h2>
          <p>Estamos localizados no campus Cidade Universitária da UFRJ. Venha nos fazer uma visita!</p>
          <p><a class="btn btn-default" href="/contato" role="button">Veja mais &raquo;</a></p>
        </div>
      </div>

{% endblock %}
